.form-group {
    margin-bottom: 15px;
}

.options {
    display: flex;
    flex-wrap: wrap;
}

.option-item {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px;
}

body {
    font-family: 'Roboto', sans-serif; /* Fonte em Roboto */
    background: #F8F8F8; /* Cor de fundo da página */
    margin: 0; /* Remove margens padrão */
}

header {
    position: relative;
    text-align: center; /* Centraliza o texto do cabeçalho */
    background-color: #ffffff; /* Cor de fundo do cabeçalho */
    margin: 0; /* Garantir que não haja margem */
    padding: 0; /* Elimina padding do cabeçalho */
}

.header-banner {
    width: 100%; /* Largura total do banner */
    margin: 0; /* Remove qualquer margem */
    padding: 0; /* Remove qualquer padding */
}

.header-banner img {
    width: 102%; /* Imagem ocupa toda a largura */
    display: block; /* Remove espaço em branco na base da imagem */
}

.header-content {
    position: absolute; /* Para sobrepor a imagem */
    top: 1000px; /* Ajuste a posição vertical para descer */
    left: 50%; 
    transform: translate(-50%, -50%); /* Centraliza o texto */
    padding: 100px;
    background: #FFFFFF; /* Fundo branco */
    border-radius: 20px; /* Cantos arredondados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra da caixa */
    max-width: 90%; /* Largura máxima para responsividade */
    text-align: left; /* Alinhamento do texto à esquerda */
}

.header-content h1 {
    font-size: 48px; /* Tamanho da fonte maior */
    line-height: 1.2; /* Ajuste do espaçamento */
    margin: 0; /* Remove margens do título */
}

.header-content p {
    font-size: 18px; /* Tamanho da fonte da descrição */
    line-height: 1.5; /* Aumenta o espaçamento da linha */
}

.menu {
    position: absolute;
    top: 20px; /* Altura do menu */
    left: 220px; /* Aumenta a margem esquerda */
    z-index: 2; /* Aparece sobre a imagem */
    display: flex; /* Utiliza flexbox para disposição */
}

.menu ul {
    display: flex; /* Disposição horizontal */
    padding: 0;
    margin: 0; /* Remove margens padrão */
    list-style: none; /* Remove marcadores da lista */
}

.menu li {
    margin: 0 10px; /* Espaço lateral entre os itens */
}

.menu a {
    display: flex; /* Utilize flex para centralizar o conteúdo */
    justify-content: center; /* Centraliza o texto horizontalmente */
    align-items: center; /* Centraliza o texto verticalmente */
    width: 141px; /* Largura fixa */
    height: 40px; /* Altura fixa */
    text-decoration: none;
    color: #000000; /* Cor do texto do menu */
    font-weight: bold;
    background: #F8F6F3; /* Cor de fundo dos itens do menu */
    transition: background 0.3s; /* Efeito de transição */
    text-align: center; /* Centraliza o texto dentro do botão */
}

.menu a:hover {
    background: #E0E0E0; /* Cor de fundo ao passar o mouse */
}

/* Adicione ícones através da classe de ícone */
.menu a i {
    margin-right: 5px; /* Espaçamento entre ícone e texto */
}

.pagina {
    width: 100%;
    background: #C9E957; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin: 0; /* Remove a margem */
    padding: 40px 20px; /* Ajusta o padding, se necessário */
}

.pagina h2,
.pagina p {
    margin: 0; /* Remove as margens */
    padding: 0; /* Remove paddings */
}


.container {
    display: flex;
    flex-wrap: wrap; /* Para responsividade */
    align-items: center; 
    justify-content: space-around; /* Espaçamento entre os itens */
    padding: 20px; 
}

.texto {
    margin-right: 20px; 
}

.botao-container {
    margin-right: 20px; 
}

.imagem {
    width: 100%; /* Torna a largura responsiva */
    max-width: 554px; /* Largura máxima da imagem */
    height: auto; /* Altura automática */
    opacity: 0; 
    transition: opacity 0.5s; 
}

.imagem.visible {
    opacity: 1; 
}

.titulo-burnout {
    font-family: 'Roboto', sans-serif; 
    font-size: 42px; 
    font-weight: 400; 
    line-height: 49px; 
    text-align: left; 
    width: 100%;
    max-width: 394px; 
    margin: auto; 
}

.descricao-burnout {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.27px;
    text-align: justify; 
    color: #000000;
    margin: 0 auto; 
}

.botao-sondagem {
    width: 100%;
    max-width: 378px; 
    padding: 16px 24px; 
    background: #FEFEFE; 
    border: 1px solid #000000; 
    border-radius: 20px; 
    text-align: center; 
    color: #000; 
    transition: background-color 0.3s, color 0.3s; 
}

.botao-sondagem:hover {
    background-color: #d0e0d0;  
    color: black;  
}

.dados-burnout {
    text-align: center;
    padding: 40px;
    margin: 40px;
}

.containe-dados {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: auto;
    border-radius: 30px;
    flex-wrap: wrap; /* Para responsividade */
}

.dado {
    background-color: #F8F8F8;
    padding: 10px;
    width: 223px;
    height: 180px;
    box-shadow: 0px 4px 4px 0px #00000040; 
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border-radius: 20px;
}

.dado p {
    margin: 0;
}

/* Responsividade Geral */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .titulo-burnout {
        font-size: 36px; 
    }

    .dados-burnout {
        padding: 20px; 
    }
}
