
{% extends 'index.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
{% load static %}
    <div class="pagina">
        <div class="container">
            <h2>É HORA DE CUIDAR DE VOCÊ MESMO</h2>
            <p>Avalie seu nível de estresse no trabalho em apenas 10 minutos, entenda melhor o que é o Burnout e encontre ferramentas eficazes para melhorar sua saúde mental e bem-estar.</p>
            
            <img src="{% static 'images/mulher.png' %}" alt="Ilustração sobre Burnout" class="imagem" id="imagem-principal">
        </div>
    </div>

    <section class="dados-burnout">
        <h2 class="titulo-burnout">Dados sobre Burnout</h2>
        <p class="descricao-burnout">Burnout é um estado de exaustão emocional, física e mental causado por estresse prolongado. Afeta profissionais de diversas áreas e pode ter sérias consequências para a saúde.</p>
        <div class="containe-dados">
            <div class="dado">
                <div class="numero">20%</div>
                <p class="texto-dado">dos trabalhadores relataram aumento nos níveis de estresse no último ano.</p>
            </div>
            <div class="dado">
                <div class="numero">25%</div>
                <p class="texto-dado">dos entrevistados enfrentaram altos níveis de estresse no ambiente de trabalho.</p>
            </div>
            <div class="dado">
                <div class="numero">35%</div>
                <p class="texto-dado">dos participantes sentem-se exaustos mesmo após descansar.</p>
            </div>
            <div class="dado">
                <div class="numero">40%</div>
                <p class="texto-dado">consideraram mudar de emprego devido aos sintomas de burnout.</p>
            </div>
        </div>
    </section>

    <footer>
    </footer>

    <script>
        window.onload = () => {
            const imagem = document.getElementById('imagem-principal');
            setTimeout(() => {
                imagem.classList.add('visible');
            }, 100);
        };
    </script>
{% endblock %}

