<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" rel="stylesheet">
    <header>
        <div class="header-banner">
            
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/escolha1">Teste Burnout</a></li>
                </ul>
            </div>
            {% block bem-vindo%}
            <div>
            </div>
            {% endblock%}
        </div>
    </header>
</head>

<main>
    {% block content %}
    <!-- Conteúdo das páginas vai aqui -->
    {% endblock %}
</main>


